* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    display: flex;
}

.shortcuts {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.shortcuts h2 {
    font-size: 4vw;
}

.shortcuts span {
    display: block;
}

.shortcuts span + span {
    margin-top: 5vh;
}

.form_registration {
    width: 50%;
}

body {
    background-color: rgb(48, 48, 48);
    color: #fff;
    font-size: 1.25vw;
}

a {
    color: #fff;
}

body input {
    color: #fff;
}

input:not([type]), input[type="text"]:not(.browser-default), input[type="password"]:not(.browser-default), input[type="email"]:not(.browser-default), input[type="url"]:not(.browser-default), input[type="time"]:not(.browser-default), input[type="date"]:not(.browser-default), input[type="datetime"]:not(.browser-default), input[type="datetime-local"]:not(.browser-default), input[type="tel"]:not(.browser-default), input[type="number"]:not(.browser-default), input[type="search"]:not(.browser-default), textarea.materialize-textarea {
    font-size: 1.25vw;
}

.btn {
    font-size: 1.5vw;
}

.form_registration .email label {
    user-select: none;
}
